<div class="bouton">
  <div *ngIf="authService.isAdmin()">
  <button type="button" class="btn btn-default" (click)="AddProduct()">Add</button>
  </div>
</div>
<h3 class="titre"> {{title}} </h3>
<div *ngIf="products">
<div class="container page-wrapper">
  <div class="page-inner">
    <div class="row">
      <div *ngFor="let p of products._embedded.products" class="col-12 col-sm-6 col-md-3 col-lg-3">
      <div class="el-wrapper">
        <div class="box-up">
          <img  class="img" height="250" src="{{this.catService.host+'/photoProduct/'+p.id}}"/>
          <div class="img-info">
            <div class="info-inner">
              <span class="p-name">{{p.name}}</span>
              <span class="p-company">{{p.description}}</span>
            </div>
          </div>
        </div>

        <div class="box-down">
          <div class="h-bg">
            <div class="h-bg-inner"></div>
          </div>

          <a class="cart" href="#">
            <span class="price">{{p.currentprice}} $ </span>
            <span class="add-to-cart">
              <span class="txt">Add in cart</span>
            </span>
          </a>
        </div>
        <div *ngIf="authService.isAdmin()">

        <button class="bouton" type="button" class="btn btn-success" (click)="ModifyProduct(p)">Modify</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
